{
  "trailingComma": "es5",
  "tabWidth": 2,
  "tabs": false,
  "semi": true,
  "singleQuote": false,
  "printWidth": 80,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "avoid"
}